Source: qualcomm-iqfiles
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13),
               debhelper (>=13~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,

Package: qualcomm-iqfiles
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends},
Description: qualcomm-iqfiles
 This package provides the qualcomm-iqfiles.

